name: Custom Build

on:
  push:
    branches-ignore:
    - develop

# Keep in sync with codeql-analysis.yml and test.yml
env:
  CI: true
  node: 18
  java: 17
  RAW_URL: https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}

jobs:
  build:
    if: github.repository_owner == 'thezoker'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

  docker:
    if: github.repository_owner == 'thezoker'
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # Push to GitHub Container Registry
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Tag Generator
      id: tag-generator
      run: echo "::set-output name=branch-name::$(echo ${GITHUB_REF#refs/heads/} | tr / -)"
    - name: Build and Push to GitHub Container Registry
      uses: docker/build-push-action@v3
      with:
        platforms: amd64
        file: ./docker/artemis/Dockerfile
        context: .
        tags: ghcr.io/thezoker/artemis:${{ steps.tag-generator.outputs.branch-name }}
        push: true
